
<div class='w3-margin-left'>
  <% if @display == 7%>
    <h1>Photos que estan en todas</h1>
  <% else %>
    <h1> Pantalla </h1>
    <%= @display %>
  <% end %>

  <form method='get'>
    <select name='display' onchange='submit()'>
      <option disabled="disabled" selected="selected" hidden="hidden">
        Elegir
      </option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="todas">Todas</option>
    </select>
  </form>
  <form method="post">
    <table class="w3-table-all" id="envivo_table">
      <thead>
        <tr>
          <th>Nombre de foto</th>
          <th>Activa</th>
          <th>Dias Restantes</th>
          <th>photo</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @photos.each do |p| %>
          <tr>
            <td><%= p.photo_name %></td>
            <td>
              <%  if p.active %>
                <%= 'Si' %>
              <%else%>
                <%= 'No' %>
              <%end%>
            </td>
            <td><%= p.days %></td>
            <td><%= "<img src='#{p.public_url}' class='photo' height='100' width='120'>" %></td>
            <td>
              <input type='number' class='w3-hide' name='photo_ids[]' value=<%= p.id %>>
              <select name="[<%= p.id %>][action]" class="[<%= p.id %>][action]">
                <option disabled="disabled" selected="selected" hidden="hidden">
                  Elegir
                </option>
                <option value="activate">Activar</option>
                <option value="deactivate">Desactivar</option>
                <option value="delete">Borrar</option>
              </select>
              <% end unless @photos.nil? %>
              </tbody>
            </table>
          </br>
        </br>
        <div class='w3-center'>
          <%= "<input type='text' name='display' value='#{@display}' hidden='hidden'></input>"%>

          <input type='submit' value="actualizar">
        </div>

      </form>
<script>
function submit() {
this.submit();
}
$(document).ready(function () {

$('#envivo_table').DataTable()
})
</script>
